body {
    font-family: "Roboto Slab", serif;
}

/* Styling for active link */
.active {
    color: #ff5733;
}

section {
    padding: 50px;
}

.glightbox_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer_circle {
    stroke-width: 3;
    stroke-dasharray: 410; 
    stroke-dashoffset: 0;
    stroke-linecap: square;
    transition: all .4s ease-out;
}

.glightbox_video:hover .outer_circle {
    stroke-dashoffset: 410;
    transition: stroke .7s .4s ease-out, stroke-dashoffset .4s ease-out;
}

.glightbox_video:hover .inner-circle {
    fill: #ef7512;
    transition: fill .4s .3s ease-out;
}

.glightbox_video:hover .play {
    fill: white;
    transition: fill .4s .3s ease-out;
}
/* Custom box shadow */
.custom-shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
}
